<a href="https://colab.research.google.com/github/MANISH-KUMAR-CODES/UK_Prime_Minister_Rishi_Sunak-_Twitter_Sentiment_Analysis/blob/main/UK_Prime_Minister_Rishi_Sunak__Twitter_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Dataset Information

Rishi Sunak lost to Liz Truss in September, but she resigned six weeks later. In the latest leadership contest, Mr Sunak racked up the support of his fellow MPs early, and fast. He crossed the 100 nominations he needed long before the deadline - including from MPs that had previously backed Truss or Boris Johnson.
BBC

* Twitter Reaction to Rishi Sunak being elected as PM.
* Sentimental Analysis can be performed on this dataset.

Hashtags: #rishisunak, #rishisunakPM , Rishi Sunak
* Dataset consists of 113578 tweets.

In [40]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.style as style
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

import re
import string

import nltk
from nltk.probability import FreqDist
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

from wordcloud import WordCloud
from tqdm.auto import tqdm

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
# read the csv file
df = pd.read_csv('/content/drive/MyDrive/uk_pm.csv/uk_pm.csv')
df = pd.DataFrame(df)

## Knowing our dataframe

In [43]:
# checking head of our dataframe
df.head(5)

,id,text,username,hashtags,created_at,user followers count,replycount,retweetcount,likecount,quotecount,language,quotedtweet,inReplyToTweetId,inReplyToUser,mentionedUsers
0,1584696134693711873,@BritIndianVoice @RishiSunak #RishiSunak is #B...,IsmailYSyed,"['RishiSunak', 'BritishHindu', 'Pakistani', 'P...",2022-10-24 23:59:35+00:00,393,0,0,0,0,en,NaN,1.584541e+18,https://twitter.com/BritIndianVoice,@BritIndianVoice @RishiSunak #RishiSunak is #B...
1,1584696057841098752,#RishiSunak is the richest Tory MP in history....,AdameMedia,['RishiSunak'],2022-10-24 23:59:17+00:00,9830,3,23,68,4,en,NaN,NaN,NaN,#RishiSunak is the richest Tory MP in history....
2,1584695906091536385,#RishiSunak,ROHITKU96224077,['RishiSunak'],2022-10-24 23:58:40+00:00,3,0,0,0,0,qht,NaN,NaN,NaN,#RishiSunak
3,1584695822658441217,A mountain full of money and a knowledge of pr...,Parisistas,['RishiSunak'],2022-10-24 23:58:21+00:00,0,0,0,0,0,en,NaN,NaN,NaN,A mountain full of money and a knowledge of pr...
4,1584695640696946688,@trussliz @RishiSunak Chance was been given as...,baboo_prasant,['RishiSunak'],2022-10-24 23:57:37+00:00,14,0,0,0,0,en,NaN,1.584546e+18,https://twitter.com/trussliz,@trussliz @RishiSunak Chance was been given as...

In [44]:
#checking tail of dataframe
df.tail()

,id,text,username,hashtags,created_at,user followers count,replycount,retweetcount,likecount,quotecount,language,quotedtweet,inReplyToTweetId,inReplyToUser,mentionedUsers
113573,1584553348736421888,@JackBarbour_ @piersmorgan @RishiSunak The man...,aqeelone22,NaN,2022-10-24 14:32:12+00:00,1162,0,0,0,0,en,NaN,1.584532e+18,https://twitter.com/JackBarbour_,@JackBarbour_ @piersmorgan @RishiSunak The man...
113574,1584553348677525505,@Jacob_Rees_Mogg @RishiSunak Let's hope you're...,EddieThornley,NaN,2022-10-24 14:32:12+00:00,97,0,0,0,0,en,NaN,1.584539e+18,https://twitter.com/Jacob_Rees_Mogg,@Jacob_Rees_Mogg @RishiSunak Let's hope you're...
113575,1584553348597895168,@sajidjavid @RishiSunak Desperate call for a d...,pedleysjohn,['ToriesUnfitToGovern'],2022-10-24 14:32:12+00:00,2484,0,0,0,0,en,NaN,1.584401e+18,https://twitter.com/sajidjavid,@sajidjavid @RishiSunak Desperate call for a d...
113576,1584553348132397056,@SkyNews Rulling Party needs a strong oppositi...,KarobiVC,NaN,2022-10-24 14:32:12+00:00,392,0,0,0,0,en,NaN,1.584512e+18,https://twitter.com/SkyNews,@SkyNews Rulling Party needs a strong oppositi...
113577,1584553347998105600,@trussliz @RishiSunak Liz Truss has won the ma...,sands_hill,NaN,2022-10-24 14:32:12+00:00,4,0,0,0,0,en,NaN,1.584546e+18,https://twitter.com/trussliz,@trussliz @RishiSunak Liz Truss has won the ma...

In [45]:
# checking info of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113578 entries, 0 to 113577
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    113578 non-null  int64
 1   text                  113578 non-null  object
 2   username              113578 non-null  object
 3   hashtags              26957 non-null   object
 4   created_at            113578 non-null  object
 5   user followers count  113578 non-null  int64
 6   replycount            113578 non-null  int64
 7   retweetcount          113578 non-null  int64
 8   likecount             113578 non-null  int64
 9   quotecount            113578 non-null  int64
 10  language              113578 non-null  object
 11  quotedtweet           0 non-null       float64
 12  inReplyToTweetId      83368 non-null   float64
 13  inReplyToUser         83368 non-null   object
 14  mentionedUsers        113578 non-null  object
dtypes: float64(2), int64(6), object(7)
memory usage: 13.0+ MB

### From above we can see that our dataframe countains 113578 rows and 15 columns out of which we have a column ('quotedtweet') with zero entires, its better we drop this column

In [46]:
# check if text column is same as mentionedusers
sum = 0
for i in range(0,len(df)):
    if df['text'][i]!=df['mentionedUsers'][i]:
       sum = sum+1

print(sum)

0

### from the code above we find out that our text column is same as our mentionedUsers columns ,so lets drop it also.

In [47]:
#dropppping mentionedUsers column from our dataframe
df = df.drop('mentionedUsers',axis = 1)
df.head(5)

,id,text,username,hashtags,created_at,user followers count,replycount,retweetcount,likecount,quotecount,language,quotedtweet,inReplyToTweetId,inReplyToUser
0,1584696134693711873,@BritIndianVoice @RishiSunak #RishiSunak is #B...,IsmailYSyed,"['RishiSunak', 'BritishHindu', 'Pakistani', 'P...",2022-10-24 23:59:35+00:00,393,0,0,0,0,en,NaN,1.584541e+18,https://twitter.com/BritIndianVoice
1,1584696057841098752,#RishiSunak is the richest Tory MP in history....,AdameMedia,['RishiSunak'],2022-10-24 23:59:17+00:00,9830,3,23,68,4,en,NaN,NaN,NaN
2,1584695906091536385,#RishiSunak,ROHITKU96224077,['RishiSunak'],2022-10-24 23:58:40+00:00,3,0,0,0,0,qht,NaN,NaN,NaN
3,1584695822658441217,A mountain full of money and a knowledge of pr...,Parisistas,['RishiSunak'],2022-10-24 23:58:21+00:00,0,0,0,0,0,en,NaN,NaN,NaN
4,1584695640696946688,@trussliz @RishiSunak Chance was been given as...,baboo_prasant,['RishiSunak'],2022-10-24 23:57:37+00:00,14,0,0,0,0,en,NaN,1.584546e+18,https://twitter.com/trussliz

In [48]:
df = df.drop('quotedtweet',axis = 1)
# also lets check the null values present in our dataframe
df.isnull().sum()

id                          0
text                        0
username                    0
hashtags                86621
created_at                  0
user followers count        0
replycount                  0
retweetcount                0
likecount                   0
quotecount                  0
language                    0
inReplyToTweetId        30210
inReplyToUser           30210
dtype: int64

### From above we found that our hastag columns has 86621 null values,inReplyToTweetId and inReplyToUser columns have 30210 null values

###To know the statistical summary of the DataFrame columns, we use the describe() function in python. And to know the total number of rows and columns of the dataset, we use the .shape function in python.

In [49]:
# checking description of our dataset
df.describe()

,id,user followers count,replycount,retweetcount,likecount,quotecount,inReplyToTweetId
count,1.135780e+05,1.135780e+05,113578.000000,113578.000000,113578.000000,113578.000000,8.336800e+04
mean,1.584272e+18,5.732325e+03,0.990456,1.824843,11.951003,0.153833,1.584147e+18
std,2.161895e+15,2.808652e+05,32.213791,91.932817,662.464267,6.997948,7.023966e+15
min,1.565130e+18,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.120754e+18
25%,1.584564e+18,3.500000e+01,0.000000,0.000000,0.000000,0.000000,1.584531e+18
50%,1.584590e+18,2.030000e+02,0.000000,0.000000,0.000000,0.000000,1.584541e+18
75%,1.584623e+18,9.780000e+02,0.000000,0.000000,1.000000,0.000000,1.584566e+18
max,1.584696e+18,8.371055e+07,5177.000000,25053.000000,185559.000000,1115.000000,1.584695e+18

### For our sentiment analysis we need two important 'ID' and 'Text' columns

In [50]:
df1 = df[['id','text']]
df1.head(5)

                    id                                               text
0  1584696134693711873  @BritIndianVoice @RishiSunak #RishiSunak is #B...
1  1584696057841098752  #RishiSunak is the richest Tory MP in history....
2  1584695906091536385                                        #RishiSunak
3  1584695822658441217  A mountain full of money and a knowledge of pr...
4  1584695640696946688  @trussliz @RishiSunak Chance was been given as...

## Preprocessing the dataset

In [51]:
# removes pattern in the text column]
def remove_pattern(input_text,pattern):
    r = re.findall(pattern,input_text)
    for word in r:
       input_text = re.sub(word,'',input_text)
    return input_text

In [52]:
# remove twitter handles @user
df1['clean_tweet'] = np.vectorize(remove_pattern)(df1['text'], "@[\w]*")
df1['clean_tweet'][0]

'  #RishiSunak is #BritishHindu of paternal #Pakistani Punjabi origin. Hes legally POC (#Pakistan\xa0Origin Card) holder issued by  (probably also concurrently holding Indias OCI through his Indian NRI wife/mother). Also there may be issue with his wifes Indian citizenship.'

In [53]:
# remove special characters, numbers and punctuations
df1['clean_tweet'] = df1['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
df1['clean_tweet'][0]

'  #RishiSunak is #BritishHindu of paternal #Pakistani Punjabi origin  He s legally POC  #Pakistan Origin Card  holder issued by   probably also concurrently holding India s OCI through his Indian NRI wife mother   Also there may be issue with his wife s Indian citizenship '

In [54]:
# remove short words
df1['clean_tweet'] = df1['clean_tweet'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
df1['clean_tweet'][0]

'#RishiSunak #BritishHindu paternal #Pakistani Punjabi origin legally #Pakistan Origin Card holder issued probably also concurrently holding India through Indian wife mother Also there issue with wife Indian citizenship'

In [55]:
# individual words considered as tokens
tokenized_tweet = df1['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

0    [#RishiSunak, #BritishHindu, paternal, #Pakist...
1    [#RishiSunak, richest, Tory, history, wife, bi...
2                                        [#RishiSunak]
3    [mountain, full, money, knowledge, proven, the...
4    [Chance, been, given, didn, fulfilled, duty, p...
Name: clean_tweet, dtype: object

##Stemming words with NLTK

Stemming is the process of producing morphological variants of a root/base word. Stemming programs are commonly referred to as stemming algorithms or stemmers. A stemming algorithm reduces the words chocolates, chocolatey, and choco to the root word, chocolate and retrieval, retrieved, retrieves reduce to the stem retrieve.

In [56]:
# stem the words
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda sentence: [stemmer.stem(word) for word in sentence])
tokenized_tweet.head()

0    [#rishisunak, #britishhindu, patern, #pakistan...
1    [#rishisunak, richest, tori, histori, wife, bi...
2                                        [#rishisunak]
3    [mountain, full, money, knowledg, proven, theo...
4    [chanc, been, given, didn, fulfil, duti, peopl...
Name: clean_tweet, dtype: object

In [57]:
# combine words into single sentence
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = " ".join(tokenized_tweet[i])
    
df1['clean_tweet'] = tokenized_tweet
df1.head()

,id,text,clean_tweet
0,1584696134693711873,@BritIndianVoice @RishiSunak #RishiSunak is #B...,#rishisunak #britishhindu patern #pakistani pu...
1,1584696057841098752,#RishiSunak is the richest Tory MP in history....,#rishisunak richest tori histori wife billiona...
2,1584695906091536385,#RishiSunak,#rishisunak
3,1584695822658441217,A mountain full of money and a knowledge of pr...,mountain full money knowledg proven theori wit...
4,1584695640696946688,@trussliz @RishiSunak Chance was been given as...,chanc been given didn fulfil duti peopl late #...

In [58]:
# checking the first item of our clean tweet
df1['clean_tweet'][0]

'#rishisunak #britishhindu patern #pakistani punjabi origin legal #pakistan origin card holder issu probabl also concurr hold india through indian wife mother also there issu with wife indian citizenship'

In [64]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113578 entries, 0 to 113577
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           113578 non-null  int64
 1   text         113578 non-null  object
 2   clean_tweet  113578 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

## Sentiment scoring using VADER

VADER(Valence Aware Dictionary and sEntiment Reasonar) Bag of Words approach

This approach essentially takes all words in a sentence and it has a value of either positive/neagetive/neutral for each of those words and it just does a math equation for all the words and add up to tell us how positive,negative or neutral the statements is based on all those words

Note: this approach doen not account for relationship between the words ,which is pretty important for human speech but at least its a good start.

we will use NLTK's SentimentIntensityAnalyzer to get the neg/neu/pos scores of the text.
* This uses a Bag of word approach:
  1. Stopwords are removed.
  2. each word is scored and combined to a total score.

In [59]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [60]:
from nltk.sentiment import SentimentIntensityAnalyzer
from tqdm.notebook import tqdm # progress bar tracker

sia = SentimentIntensityAnalyzer()

In [61]:
# an example on some random sentence
sia.polarity_scores("I am so happy,i will hit someone very hard")

{'neg': 0.195, 'neu': 0.805, 'pos': 0.0, 'compound': -0.1761}

In [62]:
sia.polarity_scores("today is my lucky day,i will get some rewards")

{'neg': 0.0, 'neu': 0.543, 'pos': 0.457, 'compound': 0.7096}

## Running the polarity scores on the entire dataframe df1.

In [65]:
sia.polarity_scores(df1['clean_tweet'][0])

{'neg': 0.0, 'neu': 0.947, 'pos': 0.053, 'compound': 0.128}

In [71]:
polarity_scores = []
for sentence in df1['clean_tweet']:
    polarity_scores.append(sia.polarity_scores(sentence))

id = list(df1['id'])

# making a dictionary which will store the polarity scores of each sentence with id as key
res = dict(zip(id,polarity_scores))

In [81]:
# lets store the output in a dataframe 
vaders = pd.DataFrame(res).T
vaders = vaders.reset_index().rename(columns ={'index':'id'})
# merging vaders datframe with our original dataframe
vaders = df1.merge(vaders,how = 'left')

In [83]:
# now we have sentiment score and metadata
vaders.head(10)

,id,text,clean_tweet,neg,neu,pos,compound
0,1584696134693711873,@BritIndianVoice @RishiSunak #RishiSunak is #B...,#rishisunak #britishhindu patern #pakistani pu...,0.000,0.947,0.053,0.1280
1,1584696057841098752,#RishiSunak is the richest Tory MP in history....,#rishisunak richest tori histori wife billiona...,0.000,0.815,0.185,0.5267
2,1584695906091536385,#RishiSunak,#rishisunak,0.000,1.000,0.000,0.0000
3,1584695822658441217,A mountain full of money and a knowledge of pr...,mountain full money knowledg proven theori wit...,0.068,0.728,0.204,0.5859
4,1584695640696946688,@trussliz @RishiSunak Chance was been given as...,chanc been given didn fulfil duti peopl late #...,0.000,0.664,0.336,0.7964
5,1584695280238465025,@RishiSunak has added a new meaning to the who...,ad mean whole pipelin thing #rishisunak,0.000,1.000,0.000,0.0000
6,1584694868646821888,Why are we remembering #WinstonChurchill when ...,rememb #winstonchurchil when #rishisunak go br...,0.262,0.738,0.000,-0.5994
7,1584694808794497026,I see a lot of white ass is getting burnt... \...,white get burnt #rishisunak,0.000,1.000,0.000,0.0000
8,1584694622538076164,Now when hearing the name of UK feels like Uni...,when hear name feel like unit kailasa #rishisu...,0.000,0.815,0.185,0.3612
9,1584694437695090689,Time Wheel - Now It's an Indian to Look after ...,time wheel indian look after british #rishisun...,0.000,1.000,0.000,0.0000

## Quick EDA from our vaders dataframe

## Top 10 negative tweets