<a href="https://colab.research.google.com/github/MANISH-KUMAR-CODES/UK_Prime_Minister_Rishi_Sunak-_Twitter_Sentiment_Analysis/blob/main/UK_Prime_Minister_Rishi_Sunak__Twitter_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Dataset Information

Rishi Sunak lost to Liz Truss in September, but she resigned six weeks later. In the latest leadership contest, Mr Sunak racked up the support of his fellow MPs early, and fast. He crossed the 100 nominations he needed long before the deadline - including from MPs that had previously backed Truss or Boris Johnson.
BBC

* Twitter Reaction to Rishi Sunak being elected as PM.
* Sentimental Analysis can be performed on this dataset.

Hashtags: #rishisunak, #rishisunakPM , Rishi Sunak
* Dataset consists of 113578 tweets.

In [36]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.style as style
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

import re
import string

import nltk
from nltk.probability import FreqDist
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

from wordcloud import WordCloud
from tqdm.auto import tqdm

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
# read the csv file
df = pd.read_csv('/content/drive/MyDrive/uk_pm.csv/uk_pm.csv')
df = pd.DataFrame(df)

In [39]:
# checking head of our dataframe
df.head(5)

,id,text,username,hashtags,created_at,user followers count,replycount,retweetcount,likecount,quotecount,language,quotedtweet,inReplyToTweetId,inReplyToUser,mentionedUsers
0,1584696134693711873,@BritIndianVoice @RishiSunak #RishiSunak is #B...,IsmailYSyed,"['RishiSunak', 'BritishHindu', 'Pakistani', 'P...",2022-10-24 23:59:35+00:00,393,0,0,0,0,en,NaN,1.584541e+18,https://twitter.com/BritIndianVoice,@BritIndianVoice @RishiSunak #RishiSunak is #B...
1,1584696057841098752,#RishiSunak is the richest Tory MP in history....,AdameMedia,['RishiSunak'],2022-10-24 23:59:17+00:00,9830,3,23,68,4,en,NaN,NaN,NaN,#RishiSunak is the richest Tory MP in history....
2,1584695906091536385,#RishiSunak,ROHITKU96224077,['RishiSunak'],2022-10-24 23:58:40+00:00,3,0,0,0,0,qht,NaN,NaN,NaN,#RishiSunak
3,1584695822658441217,A mountain full of money and a knowledge of pr...,Parisistas,['RishiSunak'],2022-10-24 23:58:21+00:00,0,0,0,0,0,en,NaN,NaN,NaN,A mountain full of money and a knowledge of pr...
4,1584695640696946688,@trussliz @RishiSunak Chance was been given as...,baboo_prasant,['RishiSunak'],2022-10-24 23:57:37+00:00,14,0,0,0,0,en,NaN,1.584546e+18,https://twitter.com/trussliz,@trussliz @RishiSunak Chance was been given as...

In [40]:
#checking tail of dataframe
df.tail()

,id,text,username,hashtags,created_at,user followers count,replycount,retweetcount,likecount,quotecount,language,quotedtweet,inReplyToTweetId,inReplyToUser,mentionedUsers
113573,1584553348736421888,@JackBarbour_ @piersmorgan @RishiSunak The man...,aqeelone22,NaN,2022-10-24 14:32:12+00:00,1162,0,0,0,0,en,NaN,1.584532e+18,https://twitter.com/JackBarbour_,@JackBarbour_ @piersmorgan @RishiSunak The man...
113574,1584553348677525505,@Jacob_Rees_Mogg @RishiSunak Let's hope you're...,EddieThornley,NaN,2022-10-24 14:32:12+00:00,97,0,0,0,0,en,NaN,1.584539e+18,https://twitter.com/Jacob_Rees_Mogg,@Jacob_Rees_Mogg @RishiSunak Let's hope you're...
113575,1584553348597895168,@sajidjavid @RishiSunak Desperate call for a d...,pedleysjohn,['ToriesUnfitToGovern'],2022-10-24 14:32:12+00:00,2484,0,0,0,0,en,NaN,1.584401e+18,https://twitter.com/sajidjavid,@sajidjavid @RishiSunak Desperate call for a d...
113576,1584553348132397056,@SkyNews Rulling Party needs a strong oppositi...,KarobiVC,NaN,2022-10-24 14:32:12+00:00,392,0,0,0,0,en,NaN,1.584512e+18,https://twitter.com/SkyNews,@SkyNews Rulling Party needs a strong oppositi...
113577,1584553347998105600,@trussliz @RishiSunak Liz Truss has won the ma...,sands_hill,NaN,2022-10-24 14:32:12+00:00,4,0,0,0,0,en,NaN,1.584546e+18,https://twitter.com/trussliz,@trussliz @RishiSunak Liz Truss has won the ma...

In [41]:
# checking info of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113578 entries, 0 to 113577
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    113578 non-null  int64
 1   text                  113578 non-null  object
 2   username              113578 non-null  object
 3   hashtags              26957 non-null   object
 4   created_at            113578 non-null  object
 5   user followers count  113578 non-null  int64
 6   replycount            113578 non-null  int64
 7   retweetcount          113578 non-null  int64
 8   likecount             113578 non-null  int64
 9   quotecount            113578 non-null  int64
 10  language              113578 non-null  object
 11  quotedtweet           0 non-null       float64
 12  inReplyToTweetId      83368 non-null   float64
 13  inReplyToUser         83368 non-null   object
 14  mentionedUsers        113578 non-null  object
dtypes: float64(2), int64(6), object(7)
memory usage: 13.0+ MB

### For our sentiment analysis we need two important 'ID' and 'Text' columns

In [42]:
df1 = df[['id','text']]
df1.head(5)

                    id                                               text
0  1584696134693711873  @BritIndianVoice @RishiSunak #RishiSunak is #B...
1  1584696057841098752  #RishiSunak is the richest Tory MP in history....
2  1584695906091536385                                        #RishiSunak
3  1584695822658441217  A mountain full of money and a knowledge of pr...
4  1584695640696946688  @trussliz @RishiSunak Chance was been given as...

## Preprocessing the dataset

In [43]:
# removes pattern in the text column]
def remove_pattern(input_text,pattern):
    r = re.findall(pattern,input_text)
    for word in r:
       input_text = re.sub(word,'',input_text)
    return input_text

In [44]:
# remove twitter handles @user
df1['clean_tweet'] = np.vectorize(remove_pattern)(df1['text'], "@[\w]*")
df1['clean_tweet'][0]

'  #RishiSunak is #BritishHindu of paternal #Pakistani Punjabi origin. He’s legally POC (#Pakistan\xa0Origin Card) holder issued by  (probably also concurrently holding India’s OCI through his Indian NRI wife/mother). Also there may be issue with his wife’s Indian citizenship.'

In [45]:
# remove special characters, numbers and punctuations
df1['clean_tweet'] = df1['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
df1['clean_tweet'][0]

'  #RishiSunak is #BritishHindu of paternal #Pakistani Punjabi origin  He s legally POC  #Pakistan Origin Card  holder issued by   probably also concurrently holding India s OCI through his Indian NRI wife mother   Also there may be issue with his wife s Indian citizenship '

In [46]:
# remove short words
df1['clean_tweet'] = df1['clean_tweet'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
df1['clean_tweet'][0]

'#RishiSunak #BritishHindu paternal #Pakistani Punjabi origin legally #Pakistan Origin Card holder issued probably also concurrently holding India through Indian wife mother Also there issue with wife Indian citizenship'

In [47]:
# individual words considered as tokens
tokenized_tweet = df1['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

0    [#RishiSunak, #BritishHindu, paternal, #Pakist...
1    [#RishiSunak, richest, Tory, history, wife, bi...
2                                        [#RishiSunak]
3    [mountain, full, money, knowledge, proven, the...
4    [Chance, been, given, didn, fulfilled, duty, p...
Name: clean_tweet, dtype: object

##Stemming words with NLTK

Stemming is the process of producing morphological variants of a root/base word. Stemming programs are commonly referred to as stemming algorithms or stemmers. A stemming algorithm reduces the words “chocolates”, “chocolatey”, and “choco” to the root word, “chocolate” and “retrieval”, “retrieved”, “retrieves” reduce to the stem “retrieve”.

In [48]:
# stem the words
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda sentence: [stemmer.stem(word) for word in sentence])
tokenized_tweet.head()

0    [#rishisunak, #britishhindu, patern, #pakistan...
1    [#rishisunak, richest, tori, histori, wife, bi...
2                                        [#rishisunak]
3    [mountain, full, money, knowledg, proven, theo...
4    [chanc, been, given, didn, fulfil, duti, peopl...
Name: clean_tweet, dtype: object

In [49]:
# combine words into single sentence
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = " ".join(tokenized_tweet[i])
    
df1['clean_tweet'] = tokenized_tweet
df1.head()

,id,text,clean_tweet
0,1584696134693711873,@BritIndianVoice @RishiSunak #RishiSunak is #B...,#rishisunak #britishhindu patern #pakistani pu...
1,1584696057841098752,#RishiSunak is the richest Tory MP in history....,#rishisunak richest tori histori wife billiona...
2,1584695906091536385,#RishiSunak,#rishisunak
3,1584695822658441217,A mountain full of money and a knowledge of pr...,mountain full money knowledg proven theori wit...
4,1584695640696946688,@trussliz @RishiSunak Chance was been given as...,chanc been given didn fulfil duti peopl late #...